body {
  background-color: #000000 !important; /* sfondo quasi nero */
}

.sidebar-left,
.sidebar-right {
  background-color: #202020; /* sfondo delle colonne laterali */ /* altezza delle colonne laterali */
}

/* __________________________ */

.main-content {
  background-color: #202020; /* sfondo della colonna centrale */
  padding: 0px !important;
}

#container-img {
  position: relative;
  height: 500px;
  background: linear-gradient(to bottom, #d6bd4d, #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
}

.img-album {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 50px;
}
@media (max-width: 768px) {
  .arrow-sx {
    margin: 10px 30px;
    width: 35px !important;
    height: 35px !important;
  }
  .img-album {
    width: 220px;
    height: 220px;
    margin-top: 50px;
    position: static;
    top: 0;
    transition: transform 0.1s;
  }
  .scrolled .img-album {
    transform: scale(0);
  }
  .traccia {
    gap: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .traccia-int {
    display: contents;
  }
}

@media (min-width: 992px) {
  .title-block {
    margin: 17% -9%;
  }
  #container-img {
    position: relative;
    color: white;
    /* height: 100vh; */
    background: linear-gradient(to bottom, #d6bd4d, #000000);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-left: 10px;
    justify-content: flex-start;
  }

  .sex-titolo-album {
    margin-top: 179px;
    margin-left: -90px;
  }
  .artista-info {
    font-size: 60%;
  }
  .img-album {
    scale: 0.6;
    margin-left: -4%;
    margin-top: 0%;
  }
  .tipo-album-d {
    font-size: small;
    font-weight: bold;
  }
  .titolo-album-d {
    font-size: 380%;
  }
  #titolo-album {
    font-size: 450%;
  }
  .info-album-artista {
    /* scale: 0.6; */
    display: flex;
  }
  .azioni-album-d {
    padding: 20px 0px 0px 20px;
  }
  .lettore-tracce-d {
    background-color: #0000002d;
    transform: translate(0px, -194px);
  }
  .traccia {
    /* gap: 50%; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    /* border-bottom: 1px solid #333; */
  }
  .titolo-traccia {
    margin: 0px;
    padding: 0px;
  }
  .traccia-int {
    display: flex;
    color: white;
    gap: 88%;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    display: flex;
    align-items: center;
  }
  .info-traccia {
    flex: 1;
    min-width: 200px; /* o width: 200px */
    padding-left: 10px;
  }
  /* 
           */
  .traccia-tab {
    gap: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    /* border-bottom: 1px solid #333; */
  }
  .titolo-traccia-tab {
    margin: 0px;
    padding: 0px;
  }
  .traccia-int-tab {
    display: flex;
    color: white;
    gap: 75%;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    display: flex;
    align-items: center;
  }
  .info-traccia-tab {
    flex: 1;
    min-width: 200px; /* o width: 200px */
    padding-left: 10px;
  }

  .info-traccia-tab {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .titolo-traccia-tab {
    font-size: 16px;
    color: #fff;
  }

  .artista-traccia-tab {
    font-size: 14px;
    color: #ccc;
  }

  .azioni-traccia-tab {
    display: flex;
    align-items: center;
  }

  .azioni-traccia-tab i {
    font-size: 20px;
  }
  .tab {
    opacity: 80%;
  }

  .separatore {
    border-top: 1px solid #ffffff48;
    margin: 0px 25px;
  }
}

/* ______________________________________ */

/* #titolo-album{
    position: absolute;
        left: 651px;
    top: -179px;
    scale: 1.5;
  }
  .artista-info {
    position: absolute;
    left: 651px;
    top: -179px
  } */

.sez-titolo-album {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.artista-info {
  display: flex;
  align-items: center;
  color: #fff;
}

.artista-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}
.prodotto-info {
  font-size: 14px;
  color: #696969;
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.dot {
  margin: 0 5px;
}

/* _______________________ */

.azioni-album {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 30%;
}

.azioni-album i {
  font-size: 24px;
}
.azioni-sinistra i {
  margin-right: 20px;
}
/* .azioni-destra i {
} */

.azioni-sinistra {
  display: flex;
  align-items: center;
  gap: 10%;
}
.azioni-destra {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-play {
  background-color: #34c759;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* __________________________ */

#tracce-album {
  width: 100%;
  background: none !important;
}

.info-traccia {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.titolo-traccia {
  font-size: 16px;
  color: #fff;
}

.artista-traccia {
  font-size: 14px;
  color: #ccc;
}

.azioni-traccia {
  display: flex;
  align-items: center;
}

.azioni-traccia i {
  font-size: 20px;
}

#navbar1 {
  background: linear-gradient(to bottom, rgb(0 0 0 / 77%), rgba(0, 0, 0, 1));
    margin: 0px !important;
    padding-bottom: 20px !important;
}